$input: #dbdada;
$page-bg: #f1f4f6;
$white-grey: #dddedf;
$light-grey: #a6a4a4;
$dark-grey: #5f6062;
$text-color: #333;
$primary-color: #007bff;
$light-blue: #9dc1e8;
$shade-blue: #0f3e6f;
$dark-blue: #619cf6;
$danger-color: #dc3545;
$border-radius: 8px;
$transition-speed: 0.5s;
