@import "../../../../styles/components/table";

.btn-container {
  display: flex;
  gap: 10px;
}

/* Style for rows when hovered */
.hover-row:hover {
  background-color: #dad7d7; /* Highlight row */
  cursor: pointer; /* Optional: Change cursor on hover */
}

.page-top {
  display: flex;
  gap: 5rem;
  max-width: 85vw;
  align-items: center;
  justify-content: space-between;
  margin: 5rem auto 5rem;
}

.p-button-success {
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
}


.input {
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;

  &:focus {
    border: 1px solid #8d8c8c;
  }

  &--search {
    width: 100%;
    height: 50px;
    display: flex;
  }
}


