@import "../../../../styles/components/table";
@import "../../../../styles/components/dropdown";

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.hover-row:hover {
  background-color: #dad7d7;
  cursor: pointer;
}

.page-top {
  display: flex;
  gap: 5rem;
  max-width: 85vw;
  align-items: center;
  justify-content: space-between;
  margin: 5rem auto 5rem;
}

.p-button-success {
  width: 18rem;
  height: 5rem;
  font-size: 1.5rem;
}


.input {
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;

  &:focus {
    border: 1px solid #8d8c8c;
  }

  &--search {
    width: 100%;
    height: 50px;
    display: flex;
  }
}

.custom-select-wrapper {
  width: 12rem;
}



