<div class="client-card">
  <div class="client-card__container">
    <button class="back-button" routerLink="/clients">
      <i class="pi pi-arrow-left"></i>
    </button>
    <div class="client-card__image-section">
      <img
        [src]="clientDetailed()[0].photo"
        alt="Client Photo"
      />
    </div>

    <div class="client-card__content">
      <div class="client-card__header">
        <h1 class="client-card__name">{{ clientDetailed()[0].name }}</h1>
        <span class="client-card__id"
          >კლიენტის ნომერი: {{ clientDetailed()[0].clientNumber }}</span
        >
      </div>

      <div class="flex">
        <div class="client-card__details">
          <div class="client-card__grid">
            <div class="client-card__field">
              <p class="client-card__field-label">სქესი</p>
              <p class="client-card__field-value">
                {{ clientDetailed()[0].gender }}
              </p>
            </div>
            <div class="client-card__field">
              <p class="client-card__field-label">პირადი ნომერი</p>
              <p class="client-card__field-value">
                {{ clientDetailed()[0].personalNumber }}
              </p>
            </div>
            <div class="client-card__field">
              <p class="client-card__field-label">ტელეფონი</p>
              <p class="client-card__field-value">
                {{ clientDetailed()[0].phone }}
              </p>
            </div>
          </div>
          <div class="flex">
            <div class="client-card__address">
              <div class="client-card__field">
                <p class="client-card__field-label">იურიდიული მისამართი</p>
                <p class="client-card__field-value">
                  {{ clientDetailed()[0].factualAddress?.address }}
                </p>
                <p class="client-card__field-value">
                  {{ clientDetailed()[0].factualAddress?.city }},
                  {{ clientDetailed()[0].factualAddress?.country }}
                </p>
              </div>
            </div>

            <div class="client-card__address">
              <div class="client-card__field">
                <p class="client-card__field-label">ფაქტობრივი მისამართი</p>
                <p class="client-card__field-value">
                  {{ clientDetailed()[0].officialAddress?.address }}
                </p>
                <p class="client-card__field-value">
                  {{ clientDetailed()[0].officialAddress?.city }},
                  {{ clientDetailed()[0].officialAddress?.country }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <button
          [routerLink]="['/clients/add/account', clientDetailed()[0].clientNumber]"
          pButton
          type="button"
          class="p-button-rounded p-button-success p-mt-2"
        >
          ანგარიშის დამატება
        </button>
      </div>
    </div>
  </div>
</div>

<p-table
  [value]="clientDetailed()"
  [tableStyle]="{ 'min-width': '50rem', 'max-width': '90%', margin: '0 auto' }"
  [paginator]="false"
  [rows]="perPage()"
  [rowsPerPageOptions]="[5, 10, 20]"
  [lazy]="true"
  (onPage)="pageChange($event)"
  (rowsChange)="onRowChange($event)"
  [showCurrentPageReport]="true"
  [first]="(page() - 1) * perPage()"
  [totalRecords]="totalRecords()"
  currentPageReportTemplate="{first} - {last} სრული ({totalRecords}) რაოდენობიდან"
>
  <ng-template pTemplate="header">
    <tr>
      <th id="client-number" class="table-header">ანგარიშის ნომერი</th>
      <th id="client-name" class="table-header">ანგარიშის ტიპი</th>
      <th id="client-gender" class="table-header">ვალუტა</th>
      <th id="personal-number" class="table-header">ანგარიშის სტატუსი</th>
      <th id="actions" class="table-header">მოქმედებები</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client>
    @for (account of client.accounts; track account.id; let i = $index) {
      <tr [ngClass]="{ 'hover-row': true }" (click)="onRowSelect(account.id)">
        <td class="table-data">{{ account.account[0].accountNumber }}</td>
        <td class="table-data">{{ account.account[0].accountType }}</td>
        <td class="table-data">{{ account.account[0].currency }}</td>
        <td class="table-data">{{ account.account[0].accountStatus }}</td>
        <td
          class="btn-container"
          pTooltip="ანგარიშის დახურვა"
          tooltipPosition="top"
        >
          <div class="btn-container">
            <a
              (click)="$event.stopPropagation()"
              [routerLink]="['/clients/edit/account', client.id]"
              pButton
              type="button"
              class="p-button-rounded p-button-info"
            >
              <i class="pi pi-pencil"></i>
            </a>
            <button
              pButton
              (click)="openDialog(account, $event, i)"
              type="button"
              class="p-button-rounded p-button-danger"
            >
              <i class="pi pi-times-circle"></i>
            </button>
          </div>
        </td>
      </tr>
    }
  </ng-template>
</p-table>

<app-dialog
  [visible]="dialogVisible()"
  [title]="'ნამდვილად გსურთ ანგარიშის დახურვა?'"
  (close)="closeDialog()"
  (confirm)="closeAccount()"
  #dialog
></app-dialog>
